@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);

html,body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  background-color: #f2f2f2;
}

.copyright {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: white;
  width: 100%;
}

.menu-item{
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  color: #fffce1;
}

.profile-picture {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
  margin-right: 10px;
}

.pp-user {
  max-height: 45px;
  display: block;
}

nav li.dropdown.show.nav-item > div {
  margin-top: 15px;
}

.logo-img {
  width: 105px;
  height: 105px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.loader {
  position: fixed;
  top: 25%;
  left: 45%;
  text-align: center;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}
.grid-item {
  text-align: center;
}
